* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.score-container {
  margin-bottom: 2rem;
}

.result {
  font-size: 5rem;
  font-weight: bold;
  margin: 10rem auto;
}

.score-container > span {
  font-size: 1.5rem;
  font-weight: bold;
}

.restart {
  display: none;
  border: 1px solid #949494;
  border-radius: 20px;
  background-color: #ef5e54;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.restart.show {
  display: block;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-container > img {
  width: 295px;
}