@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6d6d6;
}

.container {
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 1rem;
}


/* Outer Cicle Style */
.outer-circle {
  width: 30rem;
  height: 30rem;
  border: 8px solid #171717;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.color {
  width: 15rem;
  height: 15rem;
  position: absolute;
}

.top-left {
  background-color: darkgreen;
  top: 0;
  left: 0;
  border-right: 4px solid #171717;
}

.top-right {
  background-color: darkred;
  top: 0;
  left: 15rem;
  border-bottom: 4px solid #171717;
}

.bottom-right {
  background-color: darkblue;
  top: 15rem;
  left: 15rem;
  border-left: 4px solid #171717;
}

.bottom-left {
  background-color: goldenrod;
  top: 15rem;
  left: 0;
  border-top: 4px solid #171717;
}


/* Inner Cicle Style */
.inner-circle {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #a9a9a9;
  border: 5px solid #171717;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.title {
  color: #fff;
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  text-shadow: 0 -1px #171717;
}

.control-container {
  display: flex;
}

.input-style {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

label {
  font-family: 'Acme', sans-serif;
}

#start {
  width: 4rem;
  border-radius: 80%;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.count-container {
  text-align: center;
}

.count-container > span {
  font-family: 'Acme', sans-serif;
}

.count-box {
  width: 4rem;
  height: 2rem;
  padding-top: 0.2rem;
  background-color: #4c0707;
}

.count {
  font-size: 1.3rem;
  color: rgb(191, 20, 20);
  display: none;
}

.show.count {
  display: inline-block;
}