* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #171717;
}

ul {
	list-style-type: none;
}

button {
	background-color: transparent;
	border-color: transparent;
}

body {
	padding: 1rem 1.7rem;
}

.sidebar-toggle {
	position: fixed;
	right: 1.3rem;
	font-size: 2rem;
	cursor: pointer;
}

.sidebar-toggle:hover {
	color: #459cff;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	display: grid;
	grid-template-rows: auto 1fr auto;
	row-gap: 1rem;
	transition: all 0.3s linear;
	transform: translate(-100%);
}

.show-sidebar {
	transform: translate(0);
}

.sidebar-header {
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.3rem;
}

.logo {
	width: 7rem;
}

.close-btn {
	font-size: 1.3rem;
	color: #b11d1d;
	cursor: pointer;
}

.link a {
	display: block;
	font-size: 1.5rem;
	text-transform: capitalize;
	padding: 1rem 1.3rem;
}

.link a:hover {
	background-color: #71b4ff;
}

@media screen and (min-width: 676px) {
	.sidebar {
		width: 400px;
	}
}