@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252631;
}

.hidden {
  display: none;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header > .title {
  text-transform: capitalize;
  color: #25272E;
  font-family: Arial, Helvetica, sans-serif;
}

.score-board {
  border: 3px solid #fff;
  width: 10rem;
  height: 5rem;
  margin: 1rem auto;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  position: relative;
  padding: 1rem;
  font-family: 'Asap', sans-serif;
}

.badge {
  position: absolute;
  background-color: #D95D59;
  padding: 0.1rem 0.5rem;
  font-size: 0.9rem;
}

.badge:nth-of-type(1) {
  left: -25px;
  top: 25px;
}

.badge:nth-of-type(2) {
  right: -30px;
  top: 25px;
}

.result {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

.choices {
  margin: 2rem auto;
  text-align: center;
}

.btn {
  background-color: transparent;
}

.choice {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 0.4rem 0.4rem;
  margin: 0 0.7rem;
  overflow: hidden;
  cursor: pointer;
}

.green-glow {
  border: 3px solid rgb(20, 178, 20);
  box-shadow: 1px 1px 2px rgb(33, 205, 33);
}

.red-glow {
  border: 3px solid rgb(244, 38, 38);
  box-shadow: 0px 1px 2px rgb(242, 65, 65);
}

.gray-glow {
  border: 3px solid rgb(153, 153, 153);
  box-shadow: 0px 1px 2px rgb(191, 191, 191);
}

.choice > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#r > img {
  width: 60px;
}

#p > img {
  width: 50px;
}

#action-message {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Asap', sans-serif;
}